@import "~/styles/vars.scss";

.App {
  height: 100%;
  width: 100%;
  color: $font-color;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  backdrop-filter: blur(1em) brightness(0.7);
  animation: 0.5s fadeIn both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
