.section#btssio {
    min-height: auto;
    height: auto;
}

.section > .btssio {
    & .wrapper-options {
        width: fit-content;
        display: flex;
        justify-content: space-between;

        & > .option {
            width: calc(50% - 10px);
            transition: .15s;

            &:hover {
                transform: scale(1.025);
            }

            & > h2 {
                margin: 0;
                gap: 15px;
                display: flex;
                align-items: center;
            }
        }
    }
}

@media (max-width: 1140px) {
	.wrapper-options {
        flex-direction: column;

        & > .option {
            width: 100% !important;
            margin-bottom: 1em;
        }
    }
}