.section > .btssio {
    & .wrapper-options {
        width: fit-content;
        display: flex;
        justify-content: space-between;

        & > .option {
            width: calc(50% - 10px);
            transition: .15s;

            &:hover {
                transform: scale(1.025);
            }

            & > h2 {
                display: flex;
                align-items: center;

                & > svg {
                    margin-right: 15px;
                }
            }
        }
    }
}