.section > .btssio {
    height: 100%;
    width: 100%;
    padding: 50px;
    display: inline-block;

    & > p {
        background: rgba(0, 0, 0, .15);
        padding: 15px;
    }

    & .wrapper-options {
        width: fit-content;
        display: flex;
        align-items: center;

        & > .option {
            width: 450px;
            background: rgba(0, 0, 0, .15);
            padding: 15px;

            &:first-child {
                margin-right: 1em;
            }
        }
    }
}