.section > .about-me {
    & > .competences {
        display: flex;
        justify-content: center;
        gap: 0 15px;
        flex-basis: 0;

        & h3 {
            text-transform: uppercase;
            display: flex;
            align-items: center;
            gap: 5px;
        }

        & .column {
            flex: 1 1 0px;
        }
    }
}